<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Mr. <%= @manager.name %></h1>
    <p>
      We have assign you a new responsibility 
      <li><%= @subject.name %></li>
      <br/>
      <p>From now you will have to handle This type of issue</p>
      <p>Thanks regards.</p>
    </p>
  </body>
</html>