<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Mr. <%= @user.name %> Welcome to Ticket Management App</h1>
    <p>
      Your login credentials are
      <li>user_name : <%= @user.email%></li>
      <li>password : <%= @user.password%></li>
    </p>
  </body>
</html>