<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Hi Mr. <%= @manager.name %> Welcome to Ticket Management App And Congrats for being manager</h2>
    <p>
      Your login credentials are
      <li>username : <%= @manager.email %></li>
      <li>password : <%= @manager.password %></li>
    </p>
  </body>
</html>