<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Mr. <%= @ticket.user.name %> You have successfully Register your problem</h1>
    <p>
      We are working on it and resolve it soon.
      <li>Your token_id is : <%= @ticket.ticket_no%></li>
      <li>Thanks regards.</li>
    </p>
  </body>
</html>